body {
    font-family: Arial, sans-serif;
}

.container {
    height: 700px;
    max-width: 400px;
    margin: 100px auto;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

h1 {
    text-align: center;
}

input[type="text"] {
    height: 60px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color:chocolate;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
